# .NET
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Local database
*.db
*.db-shm
*.db-wal

# Environment files
.env
.env.*
!.env.example

# Node
**/node_modules/
**/dist/

# Secrets & Development Configs
appsettings.Development.json
*.secret.json
